// Header styles

.header {
    background: #101a24;
    color: #fff;
}

.logo {
    width: 70px;
    margin-right: 1rem;
}

.form-group {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 95%;
        height: 1px;
        background: #101a24;
        left: 10px;
        bottom: 10px;
        position: absolute;
    }

    input.form-control {
        padding-top: 1rem;
        padding-bottom: 1.2rem;
    }
}

.btn-danger {
    background: #45f1be;
    font-size: 16px !important;
}

.form-select {
    border: 1px solid !important;
    height: 60px;
}

.table.b-table > thead > tr > th .sr-only {
    display: none;
}
