// Header styles

.header {
    background: #101a24;
    color: #fff;
}

.logo {
    width: 70px;
    margin-right: 1rem;
}

.form-group {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 95%;
        height: 1px;
        background: #101a24;
        left: 10px;
        bottom: 10px;
        position: absolute;
    }

    input.form-control {
        padding-top: 1rem;
        padding-bottom: 1.2rem;
    }
}

.btn-danger {
    background: #45f1be;
    font-size: 16px !important;
}

.btn-priamry {
    font-weight: 500;
}

.form-select {
    border: 1px solid !important;
}

.modal {
    .form-select {
        height: 60px;
    }
}

.custom-checkbox {
    input {
        margin-right: 6px;
    }
}

.table.b-table > thead > tr > th .sr-only {
    display: none;
}

.table.b-table > tbody > .table-active,
.table.b-table > tbody > .table-active > th,
.table.b-table > tbody > .table-active > td {
    background-color: var(--bs-table-active-bg) !important;
}
