// Header styles

.header {
    background: #101a24;
    color: #fff;
}

.logo {
    width: 120px;
    margin-right: 1rem;
}

.form-group {
    input.form-control {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.btn-danger {
    background: #45f1be;
    font-size: 16px !important;
}

.btn-priamry {
    font-weight: 500;
}

.form-select {
    border: 1px solid !important;
}
.modal-dialog {
    margin-top: 50px !important;
}
.custom-checkbox {
    input {
        margin-right: 6px;
    }
}

.table.b-table > thead > tr > th .sr-only {
    display: none;
}

.table.b-table > tbody > .table-active,
.table.b-table > tbody > .table-active > th,
.table.b-table > tbody > .table-active > td {
    background-color: var(--bs-table-active-bg) !important;
}

.multiselect {
    border: 1px solid;
    border-radius: 5px;
}
